body{
    width: 100%;
}
.about-app {
    display: flex;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 10%;
}

.about-me-photo {
    flex: 0.3; 
    display: flex;
    justify-content: start;
    align-items: center;
    width: 50%;;
}

.about-profile-pic{
    width: 375px;
    height: 390px;
}

.about-me-info{
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    align-content: center;
}

.about-text{
    font-size: 52px;
    font-family: "italianno", sans-serif;
    font-weight: 300;
    color: #ECE5D3;
    padding-left: 0;
    padding-top: 0%;
    width: 100%;
    margin-bottom: 1%;
    user-select: none; 
}

.line {
    width: 100%;
    height: 2px; 
    background-color: #979388; 
    margin: 20px 0;
    width: 10%;
    border: none;
    margin-bottom: 10%;
}

.about-me-detail {
    font-size: 14px;
    font-family: "Inter", sans-serif;
    font-weight: 200;
    width: 100%;
    max-width: 100%;
    color: white;
    padding-left: 0;
    padding-top: 0;
    padding-right: auto;
    text-align: justify;
    word-wrap: break-word;
}

.about-me-detail span {
    display: block;
    margin-bottom: 10%; 
    
}

.square {
    position: absolute;
    bottom: -35%;
    left: -10%;
    width: 600px;
    height: 600px;
    background-color: rgba(255, 255, 255, 0.1);
    z-index: 0;
    overflow: hidden;
    transition: transform 0.3s ease-out;
    transform: translate(-50%, -50%);
}

.about-second-section {
    padding: 50px 8%;
    background-color: #979388; 
  }
  
.about-outer {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
  
.education {
    font-size: 32px;
    font-family: "italianno", sans-serif;
    margin-bottom: 3%;
    background-color: #2a2a2a;
    color: #ECE5D3;
    box-shadow: 3px 3px 3px #00000040;
    /* background-color: rgba(255, 255, 255, 0.050); 
    backdrop-filter: blur(8px);
    box-shadow: 3px 3px 3px #00000040;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-left: 1px solid rgba(255, 255, 255, 0.3); */
    border-radius: 8px;
    padding: 1% 1%;
    display: inline-block; 
    user-select: none;
}
  
.card-layer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
}
  
.card {
    background-color: #2a2a2a; 
    color: white;
    width: 150px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    position: relative;
    transition: box-shadow 0.3s ease-in-out, transform 0.8s ease-in-out;
}


.card:hover {
    box-shadow: 0 0 15px 5px rgba(255, 255, 255, 0.8); 
    user-select: none;
    transform: scale(1.02);
}
  
.card-line {
    position: absolute;
    top: 70%;
    left: 0;
    right: 0;
    height: 3px;
    background-color: #1f1f1e; 
    z-index: 0; 
    overflow: hidden;
  }

.card-line::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background: linear-gradient(90deg, transparent, rgba(236, 229, 211, 0.8), transparent);
    animation: glow 5s infinite;
}

.about-third-section{
    width: 100%;
    height: 80vh;
    background-color: #1f1f1e;
}


.school{
    font-family: "inter", sans-serif;
    font-size: 14px;
    color: #ECE5D3;
    font-weight: 400;
    text-align: center;
    word-wrap: break-word;
}

.school-year{
    font-family: "inter", sans-serif;
    font-size: 10px;
    margin-bottom: 5%;
    font-weight: 150;
    padding-top: 2%;
    text-align: center;
    word-wrap: break-word;
}

.award{
    font-family: "inter", sans-serif;
    font-size: 12px;
    font-weight: 300;
    text-align: center;
    word-wrap: break-word;
    width: 90%;
}

.block{
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
    overflow: hidden;
}

.line-block{
    animation: line-appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
    overflow: hidden;
}



@media (max-width: 1080px){
    .about-profile-pic{
        width: 300px;
        height: 300px;
    }
}

@media (max-width: 780px){
    .about-profile-pic{
        width: 280px;
        height: 280px;
    }
}

@media (max-width: 660px){
    .about-app {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .about-text{
        margin-top: 0;
        text-align: center;
        font-size: 24px;
        margin-bottom: 0;
    }

    .about-me-photo{
        justify-content: center;
    }

    .about-me-info{
        align-items: center;
    }

    .about-profile-pic{
        width: 150px;
        height: 150px;
    }

    .line{
        margin-bottom: 5%;
    }

    .square{
        width: 150px;
        height: 150px;
        align-content: center;
        bottom: 55%;
        left: 51%;
    }

    .school{
        font-size: 13.5px;
        padding: 0 3%;
    }

    .card {
        width: 88px;
        height: 110px;
    }

    .education{
        font-size: 14px;
    }
    .card-line {
        top: 65%;
    }
}   

@media (max-width: 460px){
    .about-text{
        margin-top: 15%;
    }
    .square{
        bottom: 57%;
    }

    .school{
        font-size: 11px;
        padding: 0 3%;
    }

    .award{
        font-size: 10px;
    }

}


@keyframes glow {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(100%);
    }
  }
  
@keyframes appear {
      from{
          opacity: 0;
          scale: 0.5;
      }
      to{
          opacity: 1;
          scale: 1;
      }
}

@keyframes line-appear {
    from {
      opacity: 0;
      transform: translateX(-100%) scale(0.5);
    }
    to {
      opacity: 1;
      transform: translateX(0) scale(1); /* End at the original position */
    }
}

@keyframes disappear {
    from {
        opacity: 1;
        transform: scale(1);
    }
    to {
        opacity: 0;
        transform: scale(0.5);
    }
}