@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://cdn.jsdelivr.net/npm/remixicon@4.1.0/fonts/remixicon.css');


*{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
.container{
  width: 100%;
  height: 92vh;
  background-color: #1f1f1e;
  
  background-position: center;
  background-size: cover;
  padding-left: 7%;
  padding-right: 7%;
  box-sizing: border-box;
}

/* .navbar {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1f1f1e;
  padding: 0 50px; 
}

.copyright {
  font-size: 15px;
  color: #ece5d3;
}

.copyright:before {
  content: "© Code by Rell";
  color: #fff;
  transition: color 1s ease-out, content 2s ease-out;
}

.copyright:hover:before {
  content: "© Jarell Tamonte | 2024";
  color: #979388;
}

nav {
  flex: 1;
  text-align: right;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline-block;
  margin-left: 60px;
  padding: 10px 10px; 
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 15px;
  padding: 10px 5px;
  position: relative;
  transition: 0.5s;
}

nav ul li a:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-top: 1px solid #75756b;
  border-bottom: 1px solid #75756b;
  transform: scaleY(2);
  opacity: 0;
  transition: 0.5s;
}

nav ul li a:after {
  content: '';
  position: absolute;
  top: 2px;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scale(0);
  opacity: 0;
  transition: 0.5s;
  z-index: -1;
}

nav ul li a:hover {
  color: #ece5d3;
  font-size: 14px;
}

nav ul li a:hover:before {
  transform: scaleY(1);
  opacity: 1;
}

nav ul li a:hover:after {
  transform: scaleY(1);
  opacity: 1;
}

a.active {
  color: #ece5d3;
  font-size: 15.5px;
  border-top: 1px solid #75756b;
  border-bottom: 1px solid #75756b;
} */


/* .menu{
  text-decoration: none;
  font-size: 20px;
  color: #fff;
  display: none;
}

.exit{
  text-decoration: none;
  font-size: 20px;
  color: #fff;
  display: none;
} */
.row{
  display: flex;
  height: 70%;
  align-items: center;
}
.col{
  flex-basis: 50%;
}
.name{
  color: #979388;
  font-size: 100px;
}
.marquee{
  width: 100vw;
  margin-left: -8.5%;
  margin-top: -35.5px;
  padding-top: 35px;
  text-align: center;
  overflow: hidden;
}
.marquee-wrapper{
  width: 100000px;
  animation: marqueeAnimation 30s linear 0s infinite running;
}
.marquee h1{
  font-size: 130px;
  font-weight: 700;
  color: #b9b09f;
}
.marquee h1 .marquee-title{
  margin-right: 20px;
  float: left;
}
span.text-stroke-black{
  color: transparent;
  -webkit-text-stroke: 1px;
  -webkit-text-stroke-color: #fff;
}
h3{
  color: #fff;
  font-size: 50px;
}
p{
  color: #fff;
  font-size: 11px;
  line-height: 15px;
}
/* button{
  width: 180px;
  color: #fff;
  background-color: #979388;
  font-size: 14px;
  padding: 12px 0;
  border: 0;
  border-radius: 20px;
  outline: none;
  margin-top: 30px;
  transition: background-color 1s, color 1s, transform 1s;
}
button:hover{
  background-color: #75756b;
  color: #fff;
  transform: scale(1.2);
} */

#imagebord{
  margin-left: 10%;
  padding-left: 14.5%;
  padding-top: 19%;
  height: 140px;
  background-image: url("images/mepic.jpg");
  background-size: cover; /* Optional: maintain aspect ratio and cover the entire container */
  background-position: center 80%;
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  border: 15px groove #75756b;
  cursor: pointer;
  transition: opacity 0.5s ease-out, height 0.5s ease-out;
}
#imagebord:hover{
  opacity: 0.7;
  height: 150px;
  transition: opacity 0.5s ease-in, height 0.5s ease-in;
}
#imagebord:hover .extratext{
  visibility: visible;
  transition: opacity 0.5s ease-in, height 0.5s ease-in;
}
.extratext {
  visibility: hidden;
  position: absolute;
  z-index: -1;
  top: 58%;
  left: 78.5%;
  width: 100px;
  text-align: center;
  color: #ece5d3;
  font-size: 12px;
  background-color: #1f1f1e;
  border-radius: 10px;
  padding: 10px 15px 10px 15px;
  cursor: pointer;
  transition: opacity 0.5s ease-out, height 0.5s ease-out;
}
#clickme {
  top: 58%;
  left: 79.5%;
}
#greetings1 {
  top: 40%;
  left: 50%;
}
#greetings2 {
  top: 30%;
  left: 79.5%;
}

.marquee{
  position: absolute;
  align-items: end;
}
/*contacts*/
.socials{
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  position: relative;
}
.extraelements {
  margin-left: 5%; /* Adjust as needed */
  margin-right: 5%; /* Adjust as needed */
  padding-left: 2%; /* Add left padding to create space */
  padding-right: 2%; /* Add right padding to create space */
}
.mepicbg{
  margin-top: -100%;
  margin-left: -60%;
}
.imagediv{
  width: 150px;
  height: 350px;
  margin-top: -10%;
  /*
  margin-top: 10%;
  margin-left: 44%;*/
  align-items: center;
  background: linear-gradient(to right, #b9b09f 50%, #75756b 50%);
}
.logo{
  display: inline;
  text-decoration: none;
  color: #b9b09f;
  font-size: 40px;
  background-color: #979388;
  border-radius: 2px;
  padding: 2px 2px;
  z-index: 1;
  
}
.logo:hover{
  z-index: 1;
  background-color: #1f1f1e;
  color: #ece5d3;
  font-size: 43px;
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  transition: 0.5s ease-in, height 0.5s ease-in;
}
.logo, .dot, .square {
  position: absolute;
  transition: color 0.7s ease-out, height 0.7s ease-out;
}

#facebook {
  top: 27%;
  left: 38%;
}

#insta {
  top: 27%; 
  left: 58%;
}

#linkedin {
  top: 37.5%;
  left: 54%;
}

#twitter {
  top: 37.5%;
  left: 42%;
}

.be{
  padding-top: 20px;
  text-align: center;
  font-size: 50px;
  background: linear-gradient(90deg, #b9b09f 50%, #75756b 50%);
  background-clip: text;
  text-transform: uppercase;
  font-weight: 300;
}
.you{
  padding-top: 40px;
}
.dot{
  border-radius: 50%;
  display: inline-block;
  background: #75756b;
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
}
.square{
  display: inline-block;
  background: #b9b09f;
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
}
#smallcircle{
  width: 100px;
  height: 100px;
  top: 10%;
  left: 8%;
}
#smallcircle:hover{
  width: 120px;
  height: 120px;
  background: #b9b09f;
  transition: 0.7s ease-in, height 0.7s ease-in;
}
#bigcircle{
  width: 120px;
  height: 120px;
  top: 60%;
  left: 80%;
}
#bigcircle:hover{
  width: 140px;
  height: 140px;
  background: #b9b09f;
  transition: 0.7s ease-in, height 0.7s ease-in;
}
#smallsquare{
  width: 100px;
  height: 100px;
  top: 60%;
  left: 5%;
}

#smallsquare:hover{
  background: #ece5d3;
  width: 120px;
  height: 120px;
  transition: 0.7s ease-in, height 0.7s ease-in;
}

#bigsquare{
  width: 120px;
  height: 120px;
  top: 10%;
  left: 80%;
}
#bigsquare:hover{
  background: #ece5d3;
  width: 140px;
  height: 140px;
  transition: 0.7s ease-in, height 0.7s ease-in;
}

@media (max-width: 1280px){
  .container{
      padding-left: 4%;
      padding-right: 4%;
      transition: .2s;
  }
  .navbar a{
      padding: 5px 0;
      margin: 0px 20px;
      font-size: 14px;
  }
  a.active{
      position: relative;
      display: inline-block;
      width: 50%;
      font-size: 14px;
  }
  .marquee{
      margin-left: -4%;
  }
  #imagebord{
      width: 150px;
      height: 130px;
  }
  .logo{
      display: inline;
  }

  /*
  .image{
      margin-left: -26.5%;
      margin-bottom: -35%;
  }*/
}

/* @media (max-width: 990px){
  .menu-icon {
    display: block; 
  }

  .menu {
    display: block;
  }

  .exit {
    display: none;
  }

  nav.active ~ .menu-icon .menu {
    display: none;
  }

  nav.active ~ .menu-icon .exit {
    display: block;
  }
  
  p.copyright{
      padding-left: 18px;
  }
  .row{
      padding-left: 10px;
  }
  nav ul { 
    position: absolute;
    top: 11%;
    right: 0px;
    width: 180px;
    height: 90vh;
    padding-top: 10px;
    padding-right: 60px;
    text-align: center;
    z-index: 2;
    background: rgba(0, 0, 0, 0.9);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.5s ease; 
    }

    nav ul.active {
        opacity: 1; 
        visibility: visible; 
    }

    .navbar a {
        display: flex;
        margin: 12px 0;
        padding: 0px 25px;
        transition: all 0.5s ease;
    }

  .marquee{
      margin-top: -1%;
      margin-left: -5%;
  }
  .marquee h1{
      font-size: 100px;
  }
  #facebook {
      top: 33%;
      left: 33%;
  }
  
  #insta {
      top: 33%; 
      left: 62%;
  }
  
  #linkedin {
      top: 42%;
      left: 52%;
  }
  
  #twitter {
      top: 42%;
      left: 43%;
  }
} */

@keyframes marqueeAnimation{
  100% {
      transform: translateX(-4600px);
  }
}